# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Visual Studio Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log
